.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

input[type="text"] {
	padding: 2px 6px;
	margin: 0px 1px;
}

input[type="button"],
input[type="submit"],
button {
	/* 버튼과 텍스트 입력란이 살짝 벗어나는 것이 거슬려서 추가한 속성 */
	transform: translateY(1px);
}
